.form-control:focus{
    box-shadow:0 0 8px white !important;
    border-color: white !important;
}

.label-nobg::after
{
    background: none !important;
}

.row >.form-floating > label{
    left: 5% !important;
}